/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1168px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 32px 16px;

  &__title {
    text-align: center;
  }
}

.main {
  overflow: hidden;
}