/*======= CONFIG =======*/
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins+Alternates:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
         Change favorite color:

         Default (Red): hsl(358, 80%, 49%)
         Purple: hsl(265, 80%, 49%) - Blue: hsl(220, 80%, 49%)
         Pink: hsl(330, 80%, 49%) - Green: hsl(162, 70%, 40%)
         Orange: hsl(14, 80%, 49%)

         For more colors visit: https://htmlcolorcodes.com/
         -> Choose any color 
         -> Copy the color mode (HSL)
  */
  --header-height: 3.5rem;
  --hue: 194;
  --first-color: hsl(var(--hue), 88%, 45%);
  --first-color-alt: hsl(var(--hue), 76%, 45%);
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 1%);
  --text-color: hsl(var(--hue), 2%, 66%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: hsl(var(--hue), 2%, 10%);
  --conic-gradient: conic-gradient(from 150deg at 50% 45%,
      hsl(var(--hue), 80%, 20%) 0deg,
      hsl(var(--hue), 80%, 48%) 140deg,
      hsl(var(--hue), 80%, 20%) 360deg);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1168px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*======= BASE =======*/
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*======= LAYOUT =======*/
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1168px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 32px 16px;
}
.section__title {
  text-align: center;
}

.main {
  overflow: hidden;
}

/*======= COMPONENTS =======*/
/*======= HEADER & NAV =======*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo, .nav__toggle {
  color: var(--white-color);
  display: inline-flex;
}
.nav__logo {
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav__logo i {
  font-size: 1.25rem;
}
.nav__logo:hover {
  color: var(--first-color);
}
.nav__logo-img {
  width: 100px;
}
.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    background-color: hsl(0, 0%, 2%);
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
  }
  .nav__link {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .nav__close {
    font-size: 2rem;
    color: var(--white-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}
/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--black-color);
  box-shadow: 0 2px 4px hsl(0, 0%, 1%);
}

/* Active link */
.active-link {
  color: var(--white-color);
}

/*======= HOME =======*/
.home {
  width: 100%;
}

/*======= HOME =======*/
.banner {
  position: relative;
  width: 100%;
  height: 414px;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__img {
  position: absolute;
  object-fit: cover;
  height: 100%;
}
.banner__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}
.banner__info-title {
  color: var(--white-color);
  text-align: center;
  font-size: var(--h1-font-size);
}
.banner__info-description {
  color: var(--white-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}
.banner__info-btn {
  margin-top: 0.75rem;
}

.button {
  width: fit-content;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 999px;
  border: 1px solid #FFF;
  background: #181818;
  color: var(--white-color);
  font-size: var(--smaller-font-size);
}
.button:hover {
  background-color: var(--first-color-alt);
}

.button__black {
  background-color: var(--black-color);
}

.button__black:hover {
  background-color: var(--first-color-alt);
}

.services__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.services__img {
  border-radius: 1.5rem;
}
.services__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.services__data-category {
  text-transform: uppercase;
  font-size: var(--smaller-font-size);
  color: var(--black-color);
}
.services__data-description {
  color: var(--black-color);
  opacity: 0.6;
}

.footer {
  padding-block: 2rem 8rem;
}
.footer__container {
  row-gap: 2.5rem;
}
.footer__logo {
  color: var(--white-color);
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  justify-self: center;
}
.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.footer__link {
  color: var(--white-color);
  transition: color 0.4s;
}
.footer__link:hover {
  color: var(--text-color);
}
.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}
.footer__social-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.4s, color 0.4s;
}
.footer__social-link:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.footer__copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background-color: hsl(0, 0%, 30%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 98%, 0.1);
  display: inline-flex;
  padding: 6px;
  color: var(--white-color);
  font-size: 1.25rem;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}
.scrollup:hover {
  transform: translateY(-0.5rem);
}

.show-scroll {
  bottom: 8rem;
}

/*======= BREAKPOINTS =======*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For medium devices */
@media screen and (min-width: 540px) {
  .home h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
    font-weight: 500;
    color: var(--white-color);
  }
}
/* For large devices */
@media screen and (min-width: 1200px) {
  .home h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1500px) {
  .scrollup {
    right: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
