/*======= CONFIG =======*/
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins+Alternates:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
         Change favorite color:

         Default (Red): hsl(358, 80%, 49%)
         Purple: hsl(265, 80%, 49%) - Blue: hsl(220, 80%, 49%)
         Pink: hsl(330, 80%, 49%) - Green: hsl(162, 70%, 40%)
         Orange: hsl(14, 80%, 49%)

         For more colors visit: https://htmlcolorcodes.com/
         -> Choose any color 
         -> Copy the color mode (HSL)
  */
  --hue: 194;
  --first-color: hsl(var(--hue), 88%, 45%);
  --first-color-alt: hsl(var(--hue), 76%, 45%);
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 1%);
  --text-color: hsl(var(--hue), 2%, 66%);
  --body-color: hsl(var(--hue), 100%, 1%);
  --container-color: hsl(var(--hue), 2%, 10%);
  --conic-gradient: conic-gradient(
    from 150deg at 50% 45%,
    hsl(var(--hue), 80%, 20%) 0deg,
    hsl(var(--hue), 80%, 48%) 140deg,
    hsl(var(--hue), 80%, 20%) 360deg
  );
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Grechen Fuemen", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1168px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*======= BASE =======*/
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*======= LAYOUT =======*/
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1168px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem 3rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*======= COMPONENTS =======*/
/*======= HEADER & NAV =======*/
/*======= HOME =======*/
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h1 {
  font-size: 3rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 2.5rem;
  border-radius: 4rem;
  transition: background-color 0.4s;
}
.button:hover {
  background-color: var(--first-color-alt);
}

.button__black {
  background-color: var(--black-color);
}

.button__black:hover {
  background-color: var(--first-color-alt);
}

.footer {
  padding-block: 2rem 8rem;
}
.footer__container {
  row-gap: 2.5rem;
}
.footer__logo {
  color: var(--white-color);
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  justify-self: center;
}
.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.footer__link {
  color: var(--white-color);
  transition: color 0.4s;
}
.footer__link:hover {
  color: var(--text-color);
}
.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}
.footer__social-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.4s, color 0.4s;
}
.footer__social-link:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.footer__copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background-color: hsl(0, 0%, 30%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 98%, 0.1);
  display: inline-flex;
  padding: 6px;
  color: var(--white-color);
  font-size: 1.25rem;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}
.scrollup:hover {
  transform: translateY(-0.5rem);
}

.show-scroll {
  bottom: 8rem;
}

/*======= BREAKPOINTS =======*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home h1 {
    font-size: 1rem;
  }
}
/* For medium devices */
@media screen and (min-width: 540px) {
  .home h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .home h1 {
    font-size: 1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1200px) {
  .home h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1500px) {
  .scrollup {
    right: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
