/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    h1 {}
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .home {
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 768px) {

  // LAYOUT
  .section {
    padding: 7rem 0 2rem;
  }

  // HEADER
  // NAV
  .nav {
    height: calc(var(--header-height) + 1.5rem);

    &__toggle,
    &__close {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: row;
      column-gap: 3rem;
    }

    &__link {
      font-size: var(--normal-font-size);
      text-transform: initial;
      font-weight: 500;
      color: var(--white-color);
    }
  }
}

/* For large devices */

@media screen and (min-width: 1200px) {
  .home {
    h1 {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 1500px) {
  .scrollup {
    right: 4rem;
  }
}